<% action_url = (action == :new) ? bands_url : band_url(band) %>

<form action = "<%= action_url %>"" method= "POST">

  <% if action == :edit  %>
    <input type = "hidden" name="_method" value="PATCH">
  <% end %>

  <input type = "hidden"
         name = "authenticity_token"
         value = "<%= form_authenticity_token %>" >

  <label for="band_bandname">Enter Band Name:</label>
    <input
      type = "text"
      name = "band[band_name]"
      id = "band_band_name"
      value = "<%= band.band_name %>">

  <br>

  <% if action == :new  %>
    <input type = "submit" name= "Create Band">
  <% else %>
    <input type = "submit" name= "Edit Band Information">
  <% end %>
</form>
